* {
   margin: 0;
   padding: 0;
}

html {
   background: linear-gradient( #bbb, transparent 1px), linear-gradient( 90deg, #bbb, transparent 1px);
	background-size: 20px 20px;
   font-size: 20px;
	background-position: center center;
   font-family: sans-serif;
}

$border: 1px solid black;
$padding: 10px;

%border-type {
   border: $border;
   border-radius: 5px;
}

%input-type {
   border: none;
   resize: none;
   box-sizing: border-box;
   border: $border;
   width: 100%;
}

.popup {
   @extend %border-type;
   position: absolute;
   width: 300px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: $padding;
   font-size: large;
   background-color: white;

   p {
      margin-bottom: 20px;
   }

   .form__input {
      @extend %input-type;
   }
}

.tape {
   padding: $padding;
   max-width: 500px;
   min-width: 400px;

   .tape__window {
      padding-left: 50px;
      margin-bottom: 10px;

      .tape__message {
         @extend %border-type;
         display: grid;
         background-color: white;
         padding: $padding;
         grid-template-columns: 2fr 1fr;
         margin-top: 10px;

         .message__text {
            overflow-wrap: anywhere;
            display: inline-block;
            padding-top: $padding;
         }

         .message__date {
            text-align: end;
            font-size: small;
         }

         .message__coords {
            font-size: small;
         }
      }
   }

   .form__input {
      @extend %input-type;
   }
}



